@use 'sass:color' as color;
// MDC Color Palette: https://github.com/material-components/material-components-web/blob/v14.0.0/packages/mdc-theme/_color-palette.scss
@use '@material/theme/color-palette' as palette;
@use '@material/theme/index' as theme with (
	$primary: #ff3e00,
	$secondary: color.scale(#676778, $whiteness: -10%),
	$surface: color.adjust(palette.$grey-900, $blue: +4),
	$background: #000,
	$error: palette.$red-700
);

html,
body {
	font-family: 'Inter';
	background-color: theme.$surface;
	color: theme.$on-surface;
}
