/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn,
.select {
	border-radius: 0px;
}

.btn-circle {
	border-radius: 9999px;
}

.menu-horizontal li a:active {
	background-color: transparent;
}

.menu-horizontal li a:hover {
	background-color: transparent;
	opacity: 0.7;
}

.select:focus {
	outline: none;
}

.table th {
	background-color: transparent;
}